<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Proyecto Criptografía RSA{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <header>
        <div class="container">
            <h1>Proyecto Criptografía RSA</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('fundamento_teorico') }}">Fundamento Teórico</a></li>
                    <li><a href="{{ url_for('ejecutar_programa') }}">Ejecutar Programa</a></li>
                    <li><a href="{{ url_for('mi_equipo') }}">Mi Equipo</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Grupo 6 - Universidad Peruana de Ciencias Aplicadas</p>
        </div>
    </footer>
    </body>
</html>