{% extends "layout.html" %}

{% block title %}Mi Equipo - Proyecto Criptografía RSA{% endblock %}

{% block content %}
    <section id="equipo">
        <h2>Integrantes de Nuestro Equipo</h2>
        <p>Somos el Grupo 6 del curso de Matemática Computacional - MA475, dedicado a explorar y aplicar los principios de la criptografía.</p>
        <ul>
            <li><strong>Pumahualcca Garcia, Diego Rodrigo</strong> (Código: U202219266)</li>
            <li><strong>Guzman Vera, Diego Alonso</strong> (Código: U202411773)</li>
            <li><strong>Quintanilla Pozo, Gonzalo Samuel</strong> (Código: U202315007)</li>
            <li><strong>Retuerto Rodriguez, Jorge Manuel</strong> (Código: U202318612)</li>
            <li><strong>Ysla Garcia, Ernesto Alonso</strong> (Código: U20231A668)</li>
        </ul>
        <p>Agradecemos al docente Pedro Raul Acosta De la Cruz por su guía en este proyecto.</p>
    </section>
{% endblock %}